/* last modified 2011-12-08 */

body {
    max-width: 40em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 2em;
}

@media print {
    .dontprint {
        display: none;
    }
}

a {
    color: #dd4814; /* ubuntu orange */
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    color: #333333; /* ubuntu cool gray */
    background-color: #fdca01; /* ubuntu yellow */
}

.title {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 161.8%; 
}

h1,h2 {
    margin-top: 1.5em;
}

.footnotes {
    margin-top: 2.5em;
    font-size: 80%;
}

h1 {
    font-size: 127.2%; 
}

h1,h2,h3 {
    /* color: #a14743; /* roof terracotta */
    color: #333333; /* ubuntu cool gray */
}

.figure {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dropcap {
     line-height: 80%;
    /* font-size: 410%; */
     font-size: 500%;
    float: left;
    padding-right: 5px;
}

.listing {
    white-space: nowrap;
    overflow: auto;
    background-color: #f7f6f5; /* ubuntu warm gray */
}
