  body {
    /* color: black;
    background-color: #ffffff; */
    margin-top: 2em;
    margin-bottom: 2em;
  }

  /*
  p.noindent {
    text-indent: 0;
  }
  */

  .title {
    font-size: 200%;
    /* font-weight: normal; */
    margin-top: 2.8em;
    text-align: center;
  }

  .dropcap {
    line-height: 80%; /* was 90 */
    font-size: 410%;  /* was 400 */
    float: left;
    padding-right: 5px;
  }

  pre {
    margin-left: 2em;
  }

  blockquote {
    margin-left: 2em;
  }

  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }

  ol ol ol ol {
    list-style-type: upper-alpha;
  }

  tr.tableheader {
    font-weight: bold
  }

  tt i {
    font-family: serif;
  }

  .verbatim em {
    font-family: serif;
  }

  .troffbox {
    background-color: lightgray;
  }

  .navigation {
    color: #72010f; /* venetian red */
    text-align: right;
    font-size: medium;
    font-style: italic;
  }

  .disable {
    color: gray;
  }

  .footnote hr {
    text-align: left;
    width: 40%;
  }

  .colophon {
    color: gray;
    font-size: 80%;
    font-style: italic;
    text-align: right;
  }

  .colophon a {
    color: gray;
  }

  @media screen {

    body {
      margin-left: 8%;
      margin-right: 8%;
    }

    /*
    this ruins paragraph spacing on Firefox -- don't know why
    a {
      padding-left: 2px; padding-right: 2px;
    }

    a:hover {
      padding-left: 1px; padding-right: 1px;
      border: 1px solid #000000;
    }
    */

  } /* media screen */

  @media screen and (orientation: portrait) and (max-width: 480px),
         screen and (orientation: landscape) and (max-width: 640px) {
    body {
      margin: 0;
    }
  }

  @media print {

    body {
      text-align: justify;
    }

    a:link, a:visited {
      text-decoration: none;
      color: black;
    }

    /*
    p {
      margin-top: 1ex;
      margin-bottom: 0;
    }
    */

    .pagebreak {
      page-break-after: always;
    }

    .navigation {
      display: none;
    }

    .colophon .advertisement {
      display: none;
    }

  } /* media print */
  
body { max-width: 576px; }

p { margin-top: 12px; margin-bottom: 12px; }

.display { margin-top: 24px; margin-bottom: 24px; }

.footnote { margin-top: 24px; }

.navigation { margin-top: 20px; margin-bottom: 20px; }

.colophon { margin-top: 24px; margin-bottom: 24px; }
        h1,h2,h3,h4,h5,h6 {
            color: rgb(61,35,39); /* chocolate */
        }
    