/* last modified 2020-11-20 */

body {
    max-width: 54em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 2em;
}

.author {
    font-style: normal;
}

@media screen {
    h1.title {
        color: #333333;
        padding-bottom: 10px;
        border-bottom: 1px solid #dddddf;
    }

    h1,h2,h3,h4,h5 {
        /* color: #ba3925; /* asciidoctor red */
        /* color: #a14743; /* roof terracotta */
        /* color: #333333; /* ubuntu cool gray */
        color: #9b3d3d; /* terracotta pink */
        font-family: sans-serif;
        font-weight: normal;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}

@media screen and (orientation: portrait) and (max-width: 480px),
       screen and (orientation: landscape) and (max-width: 640px) {
    body {
       max-width: none;
       margin: 5px;
    }
}

@media print {
    .dontprint {
        display: none;
    }
}

a {
    /* color: #dd4814; /* ubuntu orange */
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    /* color: #333333; */
    background-color: #fdca01; /* ubuntu yellow */
}

.title {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 161.8%;
}

/*
h1,h2 {
    margin-top: 1.5em;
}
*/

.footnotes {
    margin-top: 2.5em;
    font-size: 80%;
}

h1 {
    font-size: 127.2%;
}

.figure {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dropcap {
    line-height: 80%;
    /* font-size: 410%; */
    font-size: 500%;
    float: left;
    padding-right: 5px;
}

.listing {
    white-space: nowrap;
    overflow: auto;
    background-color: #f7f6f5; /* ubuntu warm gray */
}
